<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
</head>
<body>
<h1>Formulário de Emprego</h1>


<form action="#" th:action="@{/process}" th:object="${emprego}" method="post">
    Título: <input type="text" th:field="*{titulo}">
    <span th:if="${#fields.hasErrors('titulo')}"
          th:errors="*{titulo}"></span><br>

    Empresa:<input type="text" th:field="*{empresa}">
    <span th:if="${#fields.hasErrors('empresa')}"
          th:errors="*{empresa}"></span><br>
    Descrição: <textarea rows="3" th:field="*{descricao}"/>
    <span th:if="${#fields.hasErrors('descricao')}"
          th:errors="*{descricao}"></span>

    <input type="submit" value="Enviar">
</form>
</body>
</html>